@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
